<footer class="bg-black bg-opacity-90 text-cutomWhite px-8 py-4 flex justify-between items-center shadow-inner mt-10">
  <p class="text-sm font-clash drop-shadow-[0_0_8px_#7c75a1]">© 2025 TimeTracker. All rights reserved.</p>
  <nav class="flex space-x-6 text-sm font-medium">
    <a routerLink="/privacy" class="hover:text-rose-200 cursor-pointer">Privacy</a>
    <a routerLink="/terms" class="hover:text-rose-200 cursor-pointer">Terms</a>
    <a routerLink="/contact" class="hover:text-rose-200 cursor-pointer">Contact</a>
  </nav>
</footer>
