<header class="bg-black bg-opacity-90 font-clash text-cutomWhite px-8 py-4 flex justify-between items-center shadow-lg">
  <h1 class="text-cutomWhite text-4xl drop-shadow-[0_0_10px_#7c75a1]">TimeTracker</h1>
  <nav class="flex space-x-6 text-sm font-medium">
    <a routerLink="/" class="hover:text-rose-200 cursor-pointer">Home</a>
    <a routerLink="/dashboard" class="hover:text-rose-200 cursor-pointer">Dashboard</a>
    <a routerLink="/login" class="hover:text-rose-200 cursor-pointer">Login</a>
  </nav>
</header>