<header class="sticky top-0 z-50 bg-black bg-opacity-90 font-clash text-cutomWhite px-8 py-4 flex justify-between items-center shadow-lg">
  <h1 class="text-cutomWhite text-4xl drop-shadow-[0_0_10px_#7c75a1]">TimeTracker</h1>
  
  <nav class="flex space-x-6 text-sm font-medium">
    <span (click)="navigateTo('/')" class="hover:text-rose-200 cursor-pointer">Home</span>
    <span (click)="navigateTo('/dashboard')" class="hover:text-rose-200 cursor-pointer">Dashboard</span>
    <span (click)="navigateTo('/login')" class="hover:text-rose-200 cursor-pointer">Login</span>
  </nav>
</header>
