<div
  class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50"
>
  <div
    class="bg-white bg-opacity-10 text-white px-8 py-6 rounded-lg shadow-lg w-full max-w-lg font-clash"
  >
    <h2 class="text-2xl font-semibold mb-6 drop-shadow-[0_0_8px_#000000]">
      {{ isEdit ? "Edit Timesheet" : "Add Timesheet" }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Date -->
      <div class="mb-4">
        <label class="block mb-1 font-semibold" for="date">Date</label>
        <input
          type="date"
          id="date"
          formControlName="date"
          class="w-full px-4 py-2 bg-black bg-opacity-30 rounded-md border border-gray-600 text-white"
        />
      </div>

      <!-- Start Time -->
      <div class="mb-4">
        <label class="block mb-1 font-semibold" for="startTime"
          >Start Time</label
        >
        <input
          type="time"
          id="startTime"
          formControlName="startTime"
          class="w-full px-4 py-2 bg-black bg-opacity-30 rounded-md border border-gray-600 text-white"
        />
      </div>

      <!-- End Time -->
      <div class="mb-4">
        <label class="block mb-1 font-semibold" for="endTime">End Time</label>
        <input
          type="time"
          id="endTime"
          formControlName="endTime"
          class="w-full px-4 py-2 bg-black bg-opacity-30 rounded-md border border-gray-600 text-white"
        />
        @if(!validateTimeRange()) {
        <div class="text-red-400 text-sm mt-1">
          End time must be after start time
        </div>
        }
      </div>

      <!-- Break Duration -->
      <div class="mb-6">
        <label class="block mb-1 font-semibold" for="breakDuration"
          >Break Duration (hh:mm)</label
        >
        <input
          type="text"
          id="breakDuration"
          placeholder="hh:mm"
          step="60"
          formControlName="breakDuration"
          class="w-full px-4 py-2 bg-black bg-opacity-30 rounded-md border border-gray-600 text-white"
        />

        @if (!isBreakFormatValid()) {
        <div class="text-red-400 text-sm mt-1">
          Break duration must be in hh:mm format (e.g. 01:30)
        </div>
        }
      </div>
      <app-validation-message [message]="validationMessage" />


      <!-- Actions -->
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          (click)="onCancel()"
          class="px-5 py-2 bg-gray-700 text-white rounded-md hover:bg-gray-600 transition"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="px-5 py-2 bg-black text-white rounded-md hover:bg-gray-800 transition shadow-md"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>
