@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-tr from-blue-300 via-violet-200 to-rose-200;
    @apply font-sans;
}

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}