
/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-tr from-blue-300 via-violet-200 to-rose-200;
    @apply font-clash;
}

::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html,
body {
  @apply m-0 p-0 box-border;
}

